parameters:
    level: max
    paths:
        - config
        - src
        - tests
    ignoreErrors:
        - '#Cannot access offset .* on mixed#'
        - '#Call to an undefined static method UnitEnum::#'
        - '#Parameter .* expects .* mixed given#'
